<div class="block-renderer">
  @for (block of blocks(); track block.id) {
    @switch (block.type) {
      @case ('siteHeader') {
        <app-site-header-block [block]="block" />
      }
      @case ('hero') {
        <app-hero-block [block]="block" />
      }
      @case ('offerList') {
        <app-offer-list-block [block]="block" />
      }
      @case ('siteFooter') {
        <app-site-footer-block [block]="block" />
      }
      @case ('leadForm') {
        <app-lead-form-block [block]="block" (formSubmit)="handleLeadSubmit(block.id, $event)" />
      }
    }
  }
</div>
