:host {
  display: block;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 1px;

  button {
    width: 32px;
    height: 32px;
  }

  mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}
