@use '@angular/material' as mat;

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$cyan-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #eef2f7;
}

button,
input,
textarea,
select {
  font: inherit;
}
